$main-color: green;
$secondary-color: papayawhip;
$default-font-size: 18px;
$border-width: 3px;
$border-style: dotted;
$border-color: rebeccapurple;
$border: $border-width $border-style $border-color;